<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nueva Incidencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="validate()">
        <ion-icon slot="end" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item *ngIf="this.form.valid === false && triedToSubmit" lines="none">
      <ion-label color="danger">Rellene los campos para enviar.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nivel</ion-label>
      <div #note>
        <ion-note class="note">{{ levelLabel }}</ion-note>
      </div>
      <ion-checkbox formControlName="low" class="low" (click)="checkChange(0)"></ion-checkbox>
      <ion-checkbox formControlName="medium" class="medium" (click)="checkChange(1)"></ion-checkbox>
      <ion-checkbox formControlName="high" class="high" (click)="checkChange(2)"></ion-checkbox>
      <ion-checkbox formControlName="extreme" class="extreme" (click)="checkChange(3)"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea autoGrow="true" formControlName="description"></ion-textarea>
    </ion-item>
  </form>
</ion-content>
