<div class="joke-container">
    <div class="card">
        <button type="button" class="close" aria-label="Close" (click)="sendDeleteJokeEv($event)">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="card-body">
            <h4 class="card-title">{{ joke.question }}</h4>
            <p class="card-text" [hidden]="isHidden">{{ joke.punchline }}</p>
            <button class="btn btn-warning" type="button" (click)="togglePunchline()">Tell me...</button>
        </div>
    </div>
</div>