# Default ignored files
/shelf/
/.vscode/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\git\2DAM\Programacion de servicios y procesos\001_repaso\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
