.header {
    position: sticky;
    background-color: lightcyan;
    width: 100%;
    height: 40px;
    z-index: 2;
}

.header_start {
    position: fixed;
    left: 10px;
    height: 32px;
    border: none;
}

.header_end {
    position: fixed;
    right: 10px;
}

.spot {
    z-index: 1;
    min-height: 600px;
}

.search_area {
    position: sticky;
    text-align: center;
    margin-top: -200px;
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.555);
}

.search {
    border: solid 1px black;
    border-radius: 10px;
}

.logo {
    height: 40px;
}

.home_title {
    font: arial;
}