<div class="card text-left">
  <img class="card-img-top">
  <div class="card-body">
    <h4 class="card-title">Log in</h4>
    <div class="form-group">
      <label></label>
      <input type="email" class="form-control" placeholder="E-mail or username">
      <small class="form-text form-danger">You have to introduce an E-mail</small>
      <label></label>
      <input type="password" class="form-control" placeholder="Password">
      <small class="form-text form-danger">You have to enter a password</small>
      <small class="form-text form-danger">Your password must be at least 8 characters long</small>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
